@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
@import url("./css/header.css");
@import url("./css/search.css");
@import url("./css/card.css");
@import url("./css/not-found.css");

:root {
  --celesteClaro: #0177fb;
  --azulGray: #1f2a4a;
  --white: #ffffff;
  --azulOscuro: #141c2f;
  --fuente-familia: "Poppins", sans-serif;
  --crimson: #dc143c;

  /* LIGH MODE COLORS */
  --whiteCeleste: #f5f8ff;
  --whiteGray: #fefefe;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--azulOscuro);
  color: var(--white);
  font-family: var(--fuente-familia);
  transition: all 0.3s linear;
}

.dark {
  background: var(--whiteCeleste);
  color: var(--azulOscuro);
}

a {
  color: var(--white);
  padding: 12px 0;
}

a.dark-ancla {
  color: var(--azulOscuro);
}

.wrapper {
  max-width: 600px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer {
  text-align: center;
}

.title-footer {
  font-weight: bold;
  color: var(--celesteClaro);
}

@media screen and (max-width: 640px) {
  body {
    padding: 16px;
  }
}
